@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Xpos307.ViewModels
@model VMTblVariant
@{
    Layout = null;
}

<div class="h2">Variant</div>
<br>
<div class="card">
  <form id="frmNameCategory" asp-action="Add">
    <div class="card-header">Menu Detail</div>
        <div class="card-body">
            <div class="mb-3">
               <label>Name</label>
               <input type="text" name="Name" class="form-control"value="@Model.Name" disabled/>
            </div>
            <div class="mb-3">
                <label>Category</label>
                <input type="text" name="Description" class="form-control" value="@Model.CategoryName" disabled />
            </div>
            <div class="mb-3">
                <label>Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" disabled/>
            </div>
        </div>
        <div class="card-footer"> 
            <button type="button" class="btn btn-primary" id="btnCancel"> Back </button>
        </div>
   </form>
</div>

<script>
    $("#btnCancel").click(function () {
        $("#MyModal").modal("hide");
    });
</script>